// Fonts
$fPoppins:'Poppins', sans-serif;

// Colors
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

$vDarkBlue: hsl(234, 12%, 34%);
$vGrayBlue: hsl(229, 6%, 66%);
$vLightGray: hsl(0, 0%, 98%);

// MQ
$telefono: 375px;
$tablet: 968px;
$desktop: 1200px;
$desktopXL: 1440px;